# Web Scraping of Job Posting from Monster website:
Here we have tried to web scrap from Monster website for 2 locations USA and Canada with different job search keywords like Google cloud, AWS cloud, Azure Cloud, Google for education, G Suite(google workspace) and others.

We have changed the input as text input for different searches and locations. We have also added URLs for navigation purposes (checking point).

1. Programming Language used: Python
2. Libraries used: Beautiful soup, requests, Pandas
3. Jupyter Notebooks

## Results:
We have extracted 259 results for all the search keywords (Google cloud, AWS cloud and others) for USA and canada locations, saved in results_Monster.csv file.

In [ ]:
#Importing liberaries for Web Scrapping of job posting on monster.
from bs4 import BeautifulSoup as soup
import requests
import pandas as pd
#Taking input from the user for job profile and location.
x = input("Enter job profile: ").split(" ")
x = '-'.join(x)
y = input("location: ")
#searching the user input of monster
URL = "https://www.monster.com/jobs/search/?q="+x+"&where="+y+"&stpage=1&page=10"
page = requests.get(URL)
#scr = soup(page.content, 'lxml')
scr1 = soup(page.content, 'html.parser')
print(URL)

Enter job profile:  google cloud

In [2]:
#Scrapping for different information regarding each job such as profile, company name, location for job and links to apply on.
# profile=[]
#for header in scr.findAll('h2', {'class':'title'}):
#    profile.append(header.text.strip())
#company=[]
#for name in scr.findAll('div', {'class':'company'}):
#    company.append(name.text.strip())
#links=[]
#for link in scr.findAll('h2', {'class':'title'}):
#    links.append(link.a['href'])
#location=[]
#for locs in scr.findAll('div', {'class':'location'}):
#    location.append(locs.text.strip())
#location = location[1:]

profile1=[]
for header in scr1.findAll('h2', {'class':'title'}):
    profile1.append(header.text.strip())
company1=[]
for name in scr1.findAll('div', {'class':'company'}):
    company1.append(name.text.strip())
links1=[]
for link in scr1.findAll('h2', {'class':'title'}):
    links1.append(link.a['href'])
location1=[]
for locs in scr1.findAll('div', {'class':'location'}):
    location1.append(locs.text.strip())
location1 = location1[1:]

In [3]:
# making a dictionary of the scrapped data.
#d1 = {'Profile': profile, 'Company Name': company, 'Location': location, 'Links': links}
d2 = {'Profile': profile1,'Company Name': company1, 'Location': location1,'Links': links1 }

# comverting Data into dataframe.
#df = pd.DataFrame.from_dict(d1)
df1 = pd.DataFrame.from_dict(d2)
#Exporting scrapped data into CSV file
#df.to_csv(r'demo\jobs.csv', index = False)#'demo\jobs is temporary saving location.'
df1.to_csv(r'results_Monster.csv', index = False)#'demo\jobs is temporary saving location.'

#display Data.
#df
df1

,Profile,Company Name,Location,Links
0,"Data Scientist - Big Data, Google Cloud, Messy...",CyberCoders,"Everett, WA",https://job-openings.monster.com/data-scientis...
1,Software Developer( Java or Groovy/Google Cloud),RK Management Consultants,"Minneapolis, MN",https://job-openings.monster.com/software-deve...
2,Google Cloud Platform - Cloud Engineer,Saicon Consultants Inc.,"Trophy Club, TX",https://job-openings.monster.com/google-cloud-...
3,Google Cloud Sys Engineer (DevOps/SE),Ciber Global,"Orlando, FL",https://job-openings.monster.com/google-cloud-...
4,Google Cloud Platform Architect,Cognizant,"Phoenix, AZ",https://job-openings.monster.com/google-cloud-...
...,...,...,...,...
255,"Sr. Manager, Software Engineer",Capital One,"Clifton, VA",https://job-openings.monster.com/sr-manager-so...
256,Big Data Engineer,Cognizant,"San Francisco, CA",https://job-openings.monster.com/big-data-engi...
257,Senior Cloud Engineer,Jobot,"Denver, CO",https://job-openings.monster.com/senior-cloud-...
258,"Software Engineer, Java Applications",CyberCoders,"San Mateo, CA",https://job-openings.monster.com/software-engi...
259,Sr. Product Marketing Manager,IBM,"Raleigh, NC",https://job-openings.monster.com/sr-product-ma...